In [1]:
#1
def secret(string):
    
        string_list = string.split('.')
        return f"<{string_list[0]} class='{' '.join(string_list[1:])}'></{string_list[0]}>"

In [2]:
secret("p.one.two.three")

"<p class='one two three'></p>"

In [3]:
#2
import re
def count_lone_ones(num):
        pattern = r'(?<!1)1(?!1)'      
        return len(re.findall(pattern,str(num)))

In [4]:
count_lone_ones(1191)

1

In [5]:
#3
import numpy as np
def printGrid(rows,cols):
        res = np.arange(1,rows*cols + 1).reshape((cols,rows)).T
        return res.tolist()

In [6]:
printGrid(5, 3)

[[1, 6, 11], [2, 7, 12], [3, 8, 13], [4, 9, 14], [5, 10, 15]]

In [7]:
#4
def min_miss_pos(num_list):
        res = 0
        for i in range(1,max(num_list)):
            if i not in num_list:
                res = i
                break
        return res

In [8]:
min_miss_pos([5, 9, -2, 0, 1, 3, 9, 3, 8, 9])

2

In [9]:
#5
def pizza_points(customers,N,Y):
        res = []
        
        for customer, pizza in customers.items():
            pizza_above_Y = sum(map(lambda x : x >= Y , pizza))
            if pizza_above_Y >= N:
                res.append(customer)            
        return res

In [10]:
customers = { "Batman": [22, 30, 11, 17, 15, 52, 27, 12], "Spider-Man": [5, 17, 30, 33, 40, 22, 26, 10, 11, 45] }

pizza_points(customers, 5, 20)

['Spider-Man']